<div>
  <div class="panel panel-primary">
    <div class="panel-heading" style="color: black">
      <!--<button type="button" class="btn btn-default btn-circle pull-right" data-toggle="popover"-->
      <!--data-placement="bottom" title="Add New User Form" data-content="This is the add new user form and you can add-->
      <!--a new user using valid details. Make sure you are adding real data.">-->
      <!--<i class="glyphicon glyphicon-italic"></i>-->
      <!--</button>-->
      <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
              notify-directive form="form"
              error-message="'Add New Batch Form.This is the add new batch form and you can add a new batch using valid details. Make sure you are adding real data.'"
              pop-place="'down'">
        i
      </button>
      <h3 style="color: white" class="panel-title">Add New Batch</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2" style="text-align: right;font-weight: bold;vertical-align: middle">
          Date
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="itemName" notify-directive form="form" error-message="'Date here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7">
          <input id="datetimepicker" class="form-control initialError" type="text"
                 placeholder="Click to Get Date (YYYY-MM-DD HH:MM:SS)" ng-model="batch.datetime" notify-directive
                 form="form" error-message="'Date here'">

        </div>
      </div>
      <br>

      <div class="row" style="margin-left: 15%">
        <!--<div class="col-lg-3" style="text-align: right;font-weight: bold">-->
        <!--Initials-->
        <!--<button type="button" class="btn btn-default btn-circle pull-right" id="initialBtn" notify-directive-->
        <!--form="form" error-message="'User initials here chanakadesilva'" pop-place="'top'">i-->
        <!--</button>-->
        <!--</div>-->

        <div class="col-lg-3">
          <label for="item" form="form" error-message="'Date here'"
                 pop-place="'top'">Item Name</label>

          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="nameBtn" notify-directive form="form" error-message="'Item name here'"
                  pop-place="'top'">
            i
          </button>

          <select class="js-example-basic-single form-control" id="allItem" ng-model="batch.itemName">
            <option value="">Select Item</option>
            <option ng-repeat="data in allItems" value="{{data.itemId}}">{{data.itemName}}</option>
          </select>
          <script>
            $(document).ready(function () {
              $(".js-example-basic-single").select2();
            });
          </script>
        </div>
        <div class="col-lg-3">
          <label for="qty">Quantity</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="qtyBtn" notify-directive form="form" error-message="'Quantity here'"
                  pop-place="'top'">
            i
          </button>
          <input style="margin-left: 10px;" id="qty" type="text" class="form-control initialError"
                 placeholder="qty" ng-model="batch.qty" notify-directive form="form"
                 error-message="'Enter valid quantity'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
        <div class="col-lg-3">
          <label for="qty">Expire Date</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="expireDate" notify-directive form="form" error-message="'Expire date here'"
                  pop-place="'top'">
            i
          </button>
          <input id="datetimepicker2" class="form-control initialError" type="text"
                 placeholder="Click to Get Date " ng-model="batch.expdate" notify-directive form="form"
                 error-message="'Enter valid initials'" pop-place="'right'">
        </div>

      </div>
      <br/>

      <div class="row" style="margin-left: 15%">
        <div class="col-lg-4">
          <label for="qty">Buying Price</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="buyingPriceBtn" notify-directive form="form" error-message="'Buying price here'"
                  pop-place="'top'">
            i
          </button>
          <input id="buyingPrice" type="text" class="form-control initialError"
                 placeholder="Expire Date" ng-model="batch.buyingPrice" notify-directive form="form"
                 error-message="'Enter valid buying price'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
        <div class="col-lg-4">
          <label for="qty">Selling Price</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="sellingPriceBtn" notify-directive form="form" error-message="'Selling price here'"
                  pop-place="'top'">
            i
          </button>
          <input id="sellingPrice" type="text" class="form-control initialError"
                 placeholder="Selling Price" ng-model="batch.sellingPrice" notify-directive form="form"
                 error-message="'Enter valid selling price'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
      </div>
      <br>

      <div class="row pull-right" style="padding-right: 20px;">
        <button id="reviewBtn" data-toggle="tooltip" title="Review all the filled data before saving the document."
                class="btn btn-info" ng-click="openReviewModalInAddBatch()">Review
        </button>
        <button id="saveBtn" data-toggle="tooltip" title="Save data without reviewing data at your own risk."
                class="btn btn-primary" ng-click="saveBatch()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Batch</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-2" style="text-align: right;font-weight: bold;vertical-align: middle">
          Date

        </div>
        <div class="col-lg-10">
          <input id="datetimepickerModel" class="form-control initialError" type="text" ng-model="batch.datetime"
                 placeholder="Click to Get Date (YYYY-MM-DD HH:MM:SS)" ng-model="dateTo">

        </div>
      </div>
      <br>

      <div class="row" style="margin-left: 15%">
        <!--<div class="col-lg-3" style="text-align: right;font-weight: bold">-->
        <!--Initials-->
        <!--<button type="button" class="btn btn-default btn-circle pull-right" id="initialBtn" notify-directive-->
        <!--form="form" error-message="'User initials here chanakadesilva'" pop-place="'top'">i-->
        <!--</button>-->
        <!--</div>-->

        <div class="col-lg-3">
          <label for="item" form="form" error-message="'Date here'"
                 pop-place="'top'">Item Name</label>


          <select class="js-example-basic-single form-control" id="allItemModel" ng-model="batch.itemName">
            <option value="">Select Item</option>
            <option ng-repeat="data in allItems" value="{{data.itemId}}">{{data.itemName}}</option>
          </select>
          <script>
            $(document).ready(function () {
              $(".js-example-basic-single").select2();
            });
          </script>

        </div>
        <div class="col-lg-3">
          <label for="qty">Quantity</label>

          <input id="qtyModal" type="text" class="form-control initialError" ng-model="batch.qty"
                 placeholder="qty" ng-model="user.initials" notify-directive form="form"
                 error-message="'Enter valid initials'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
        <div class="col-lg-4">
          <label for="qty">Expire Date</label>

          <input id="expireDateModel" class="form-control initialError" type="text"
                 placeholder="Click to Get Date " ng-model="batch.expdate" notify-directive form="form"
                 error-message="'Enter valid initials'" pop-place="'right'">
        </div>

      </div>
      <br/>

      <div class="row" style="margin-left: 15%">
        <div class="col-lg-4">
          <label for="qty">Buying Price</label>

          <input id="buyingPriceModel" type="text" class="form-control initialError"
                 placeholder="Buying Price" ng-model="batch.buyingPrice" notify-directive form="form"
                 error-message="'Enter valid initials'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
        <div class="col-lg-4">
          <label for="qty">Selling Price</label>

          <input id="sellingPriceModel" type="text" class="form-control initialError" ng-model="batch.sellingPrice"
                 placeholder="Selling Price" ng-model="user.initials" notify-directive form="form"
                 error-message="'Enter valid initials'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)">
        </div>
      </div>
      <br/>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery('#datetimepicker').datetimepicker({
    format: 'Y-m-d ',
    lang: 'ru'
  });
</script>
<script>
  jQuery('#datetimepicker2').datetimepicker({
    format: 'Y-m-d ',
    lang: 'ru'
  });
</script>
