<div>
  <div class="panel panel-primary">
    <div class="panel-heading" style="color: black">
      <!--<button type="button" class="btn btn-default btn-circle pull-right" data-toggle="popover"-->
      <!--data-placement="bottom" title="Add New User Form" data-content="This is the add new user form and you can add-->
      <!--a new user using valid details. Make sure you are adding real data.">-->
      <!--<i class="glyphicon glyphicon-italic"></i>-->
      <!--</button>-->
      <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
              notify-directive form="form"
              error-message="'New Batch Form.This is the add new batch form and you can add a new batch using valid details. Make sure you are adding real data.'"
              pop-place="'down'">
        i
      </button>
      <h3 style="color: white" class="panel-title"> New Batch</h3>
    </div>
    <div class="panel-body">
      <br>

      <div class="row">

        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="nameBtn" form="form" error-message="'Date here'"
                 pop-place="'top'">Item Name</label>

          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="nameBtn" notify-directive form="form" error-message="'Item name here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <select class="js-example-basic-single form-control" id="itemName" ng-model="itemCombo">
            <option value="">Select Item</option>
            <option ng-repeat="data in allItems" value="{{data}}">{{data.itemName}}</option>
          </select>
          <script>
            $(document).ready(function () {
              $(".js-example-basic-single").select2();
            });
          </script>
        </div>
      </div>
      <br>


      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="itemDate" form="form" error-message="'Date here'"
                 pop-place="'top'">Date</label>

          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="itemDate" notify-directive form="form" error-message="'Date here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <input id="datetime" class="form-control initialError" type="text"
                 placeholder="Click to Get Date (YYYY-MM-DD HH:MM:SS)" ng-model="datetime" notify-directive
                 form="form" error-message="'Date here'">

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="qty">Expire Date</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="expireDate" notify-directive form="form" error-message="'Expire date here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <input id="expdate" class="form-control initialError" type="text"
                 placeholder="Click to Get Date " ng-model="batch.expdate" notify-directive form="form"
                 error-message="'Enter valid Expire Date'" pop-place="'right'">

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="qty">Quantity</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="qtyBtn" notify-directive form="form" error-message="'Quantity here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <input id="qty" type="text" class="form-control initialError"
                 placeholder="Qty" ng-model="batch.qty" notify-directive form="form"
                 error-message="'Enter valid quantity'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="qty">Buying Price</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="buyingPriceBtn" notify-directive form="form" error-message="'Buying price here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <input id="buyingPrice" type="text" class="form-control initialError"
                 placeholder="Enter Buying Price" ng-model="batch.buyingPrice" notify-directive form="form"
                 error-message="'Enter valid buying price'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          <label for="qty">Selling Price</label>
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="sellingPriceBtn" notify-directive form="form" error-message="'Selling price here'"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-7 input-group">
          <span class="input-group-addon"></span>
          <input id="sellingPrice" type="text" class="form-control initialError"
                 placeholder="Selling Price" ng-model="batch.sellingPrice" notify-directive form="form"
                 error-message="'Enter valid selling price'" pop-place="'right'"
                 ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
        </div>
      </div>
      <br>


      <div class="row pull-right" style="padding-right: 20px;">
        <button id="reviewBtn" data-toggle="tooltip" title="Review all the filled data before saving the document."
                class="btn btn-info" ng-click="openReviewModalInAddBatch()">Review
        </button>
        <button id="saveBtn" data-toggle="tooltip" title="Save data without reviewing data at your own risk."
                class="btn btn-primary" ng-click="saveBatch()">Save
        </button>
      </div>
    </div>
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Batch</h4>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="nameBtn" form="form" error-message="'Date here'"
                   pop-place="'top'">Item Name</label>

            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="nameBtnModel" notify-directive form="form" error-message="'Item name here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <select class="js-example-basic-single form-control" id="itemNameModel" ng-model="itemCombo">
              <option value="">Select Item</option>
              <option ng-repeat="data in allItems" value="{{data}}">{{data.itemName}}</option>
            </select>
            <script>
              $(document).ready(function () {
                $(".js-example-basic-single").select2();
              });
            </script>
          </div>
        </div>
        <br>


        <div class="row">
          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="itemDate" form="form" error-message="'Date here'"
                   pop-place="'top'">Date</label>

            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="itemDateModel" notify-directive form="form" error-message="'Date here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <input id="datetimeModel" class="form-control initialError" type="text"
                   placeholder="Click to Get Date (YYYY-MM-DD HH:MM:SS)" ng-model="datetime" notify-directive
                   form="form" error-message="'Date here'">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="qty">Expire Date</label>
            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="expireDateModel" notify-directive form="form" error-message="'Expire date here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <input id="expdateModel" class="form-control initialError" type="text"
                   placeholder="Click to Get Date " ng-model="batch.expdate" notify-directive form="form"
                   error-message="'Enter valid initials'" pop-place="'right'">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="qty">Quantity</label>
            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="qtyBtnModel" notify-directive form="form" error-message="'Quantity here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <input id="qtyModel" type="text" class="form-control initialError"
                   placeholder="Qty" ng-model="batch.qty" notify-directive form="form"
                   error-message="'Enter valid quantity'" pop-place="'right'"
                   ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="qty">Buying Price</label>
            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="buyingPriceBtnModel" notify-directive form="form" error-message="'Buying price here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <input id="buyingPriceModel" type="text" class="form-control initialError"
                   placeholder="Enter Buying Price" ng-model="batch.buyingPrice" notify-directive form="form"
                   error-message="'Enter valid buying price'" pop-place="'right'"
                   ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
            <label for="qty">Selling Price</label>
            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="sellingPriceBtnModel" notify-directive form="form" error-message="'Selling price here'"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-7 input-group">
            <span class="input-group-addon"></span>
            <input id="sellingPriceModel" type="text" class="form-control initialError"
                   placeholder="Selling Price" ng-model="batch.sellingPrice" notify-directive form="form"
                   error-message="'Enter valid selling price'" pop-place="'right'"
                   ng-keypress="activeTitleSelect($event)" onkeypress=" return IsNumeric(event);">
          </div>
        </div>
        <br>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveBatch()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    jQuery('#datetime').datetimepicker({
      format: 'Y-m-d',
      lang: 'ru'
    });
  </script>
  <script>
    jQuery('#expdate').datetimepicker({
      format: 'Y-m-d',
      lang: 'ru'
    });
  </script>
  <script>
    jQuery('#datetimeModel').datetimepicker({
      format: 'Y-m-d',
      lang: 'ru'
    });
  </script>
  <script>
    jQuery('#expdateModel').datetimepicker({
      format: 'Y-m-d',
      lang: 'ru'
    });
  </script>
</div>


