<div>
  <div class="panel panel-primary">
    <div class="panel-heading" style="color: black">
      <!--<button type="button" class="btn btn-default btn-circle pull-right" data-toggle="popover"-->
      <!--data-placement="bottom" title="Add New Measurement Form" data-content="This is the add new measurement form and you can add-->
      <!--a new measurement using valid details. Make sure you are adding real data.">-->
      <!--<i class="glyphicon glyphicon-italic"></i>-->
      <!--</button>-->
      <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
              notify-directive form="form"
              error-message="'Add New Measurement Form.This is the add new measurement form and you can add a new measurement using valid details. Make sure you are adding real data. '"
              pop-place="'down'">
        i
      </button>
      <h3 style="color: white" class="panel-title">Add New Measurement</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
          Measurement
          <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                  id="nameBtn" notify-directive form="form" error-message="'Measure here '"
                  pop-place="'top'">
            i
          </button>
        </div>
        <div class="col-lg-9">
          <input style="width: 300px;" type="text" class="form-control nameError" placeholder="Enter name" id="measurementName"
                 ng-model="measurement.measurementName" notify-directive form="form" error-message="'Enter Measurement'"
                 pop-place="'right'"
                 ng-keypress="activeInitializeOnMeasure($event)">
        </div>
        <!--onkeypress=" return IsNumeric(event);"-->

      </div>
      <br>

      <div class="row pull-right" style="padding-right: 20px;">
        <button id="reviewBtn" data-toggle="tooltip" title="Review all the filled data before saving the document."
                class="btn btn-info" ng-click="openReviewModal()">Review
        </button>
        <button id="saveBtn" data-toggle="tooltip" title="Save data without reviewing data at your own risk."
                class="btn btn-primary" ng-click="saveMeasure()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Measurement</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2" style="text-align: right;font-weight: bold;vertical-align: middle">
            Name
            <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
                    id="nameBtnInModal" notify-directive form="form" error-message="'User measure here '"
                    pop-place="'top'">
              i
            </button>
          </div>
          <div class="col-lg-10">
            <input style="width: 300px;" type="text" class="form-control nameError" placeholder="Enter measure"
                   id="nameInModal"
                   ng-model="measurement.measurementName" notify-directive form="form" error-message="'Enter measure'"
                   pop-place="'right'"
                   ng-keypress="activeInitialize($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveMeasure()">Save</button>
      </div>
    </div>
  </div>
</div>
