<div ng-init="loadBrand()">
  <div class="panel panel-primary">
    <div class="panel-heading" style="color: black">
      <button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"
              notify-directive form="form"
              error-message="'View All Brand Form.This is the view all brand form and you can view all brand.Make sure you are view real data.'"
              pop-place="'down'">
        i
      </button>
      <h3 style="color: white" class="panel-title">View All Brand</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-1">
            <label for="buyingPrice2" style="text-align: right">Brand Name</label>
            <!--<button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"-->
            <!--id="buyingPriceBtn1" notify-directive form="form" error-message="'Medicine Price here'"-->
            <!--pop-place="'top'">-->
            <!--i-->
            <!--</button>-->
          </div>
          <div class="col-lg-3">
            <input id="itemName" type="text" class="form-control initialError"
                   placeholder="Enter Brand Name" ng-model="item.itemName" notify-directive form="form"
                   error-message="'Enter valid medicine name'" pop-place="'right'"
                   ng-keypress="activeQty($event)">
          </div>

          <div class="col-lg-1" style="margin-right: 20px;">
            <label for="buyingPrice">Permanent Brand</label>
            <!--<button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"-->
            <!--id="buyingPriceBtn3" notify-directive form="form" error-message="'Min Qty here'"-->
            <!--pop-place="'top'">-->
            <!--i-->
            <!--</button>-->
          </div>
          <div class="col-lg-3">
            <input id="minQtyd" type="text" class="form-control initialError"
                   placeholder="Enter Permanent Brand" ng-model="item.minQty" notify-directive form="form"
                   error-message="'Enter valid min qty'" pop-place="'right'"
                   ng-keypress="activeBrand($event)" onkeypress=" return IsNumeric(event);">
          </div>
          <div class="col-lg-1">
            <label for="buyingPrice" style="text-align: right">Date</label>
            <!--<button style="vertical-align: middle" type="button" class="btn btn-default btn-circle pull-right"-->
            <!--id="date" notify-directive form="form" error-message="'Min Qty here'"-->
            <!--pop-place="'top'">-->
            <!--i-->
            <!--</button>-->
          </div>
          <div class="col-lg-2">
            <input id="minQty" type="text" class="form-control initialError"
                   placeholder="Date" ng-model="item.minQty" notify-directive form="form"
                   error-message="'Enter valid min qty'" pop-place="'right'"
                   ng-keypress="activeBrand($event)" onkeypress=" return IsNumeric(event);">
          </div>

        </div>
      </div>
      <div style="height: 20px;"></div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <form class="form-horizontal">
            <table class="table table-striped">
              <tr>
                <th>Brand Name
                  <Name></Name>
                </th>
                <th>Permanent Brand</th>
                <th>Date</th>
                <th>Edit</th>
              </tr>
              <tr ng-repeat="data in allBrands">
                <td>{{data.brandName}}</td>
                <td>{{data.permanentBrand}}</td>
                <td>{{data.datetime | date : format : timezone}}</td>
                <td>edit</td>
              </tr>
            </table>
          </form>
        </div>
        <div class="col-lg-1"></div>
      </div>

    </div>

  </div>
</div>
</div>
